
<div class="content-wrapper">
    <div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Ajouter un offre</h4>
            <p class="card-description">
            </p>
            <form class="forms-sample">
              <div class="form-group">
                <label for="exampleInputName1">Nom de l'offre</label>
                <input type="text" class="form-control" id="exampleInputName1" [(ngModel)]="libelle_offre" name="libelle_offre" >
              </div>
              <div class="form-group">
                <label for="exampleInputName1">Description</label>
                <input type="text" class="form-control" id="exampleInputName1" [(ngModel)]="description_offre" name="description_offre" >
              </div>
              <div class="form-group">
                <label for="exampleInputName1">Prix </label>
                <input type="number" class="form-control" id="exampleInputName1" [(ngModel)]="prix_offre" name="prix_offre" >
              </div>
              <div class="form-group">
                <label for="exampleInputName1">Date</label>
                <input type="date" class="form-control" id="exampleInputName1" [(ngModel)]="date_offre" name="date_offre">
              </div>
              <button type="submit" class="btn btn-info mr-2" (click)="addOffre()" >Submit</button>
              <a [routerLink]="['/liste-offre']"><button class="btn btn-light">Cancel</button></a>
            </form>
          </div>
        </div>
      </div>
    </div>
    </div>
    
