<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

</head>
<app-navbar></app-navbar>
<h1>Notifications </h1>
<div class="notification-container">
    <h2>Rappels de rendez-vous</h2>
    <div class="notification-list">
        <div class="notification-item" *ngFor="let appointment of appointmentReminders">
            <span class="notification-date">{{ appointment.date }}</span>
            <span class="notification-content">{{ appointment.message }}</span>
        </div>
    </div>

    <h2>Promotions</h2>
    <div class="notification-list">
        <div class="notification-item" *ngFor="let promotion of promotions">
            <span class="notification-content">{{ promotion }}</span>
        </div>
    </div>
</div>

