<head>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap"
    rel="stylesheet"
  />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
  />
</head>
<div class="footer">
  <div class="row">
    <p>
      Copyright: RAHAJASON Aroniaina Saotra & RAZAKAMBOLOLONA Mirantsoa Rufinah
    </p>
  </div>
</div>
