.footer {
    background-color: #e1b5b0;
    /* Définir la couleur de fond */
    padding: 20px;
    /* Ajouter un peu de marge intérieure pour l'espace autour du texte */
}

.footer p {
    margin: 0;
    /* Supprimer les marges par défaut du paragraphe */
    text-align: center;
    /* Centrer le texte horizontalement */
}