<div class="content-wrapper">
<div class="row">
    <div class="col-md-14 grid-margin stretch-card" style="margin-left:150px">
        <div class="card">
          <div class="card-body">
            <p class="card-title mb-0">En cours</p>
            <div class="table-responsive">
              <table class="table table-striped table-borderless">
                <thead>
                  <tr>
                    <th>Detail</th>
                    <th>Client</th>
                    <th>Employe</th>
                    <th>Date du rendez-vous</th>
                    <th>Comission</th>
                    <th>Statut</th>
                  </tr>  
                </thead>
                <tbody *ngIf="affiche; else elseBlock ">
                  <tr *ngFor="let listeRDV of listeRDV">
                    <td class="font-weight-bold">{{listeRDV.id_detail.libelle_detail}}</td>
                    <td>{{listeRDV.id_utilisateur.name}}</td>
                    <td>{{listeRDV.id_employe.name}}</td>
                    <td>{{listeRDV.dateHeureRDV | date: 'dd-MM-yyyy HH:mm'}}</td>
                    <td>{{(listeRDV.id_detail.prix_detail * listeRDV.id_detail.comission)/100}} ar</td>
                    <!---<td class="font-weight-medium" *ngIf="listeRDV.statut== 'Termine'"><div class="badge badge-success">Termine</div></td>-->
                    <td class="font-weight-medium" *ngIf="listeRDV.statut== 'En cours'"><div class="badge badge-warning">En cours</div></td>
                    <td><button type="button" class="btn btn-primary btn-sm" (click)="changeStatut(listeRDV._id , listeRDV.statut)">Termine ?</button></td>
                  </tr>
                </tbody>
                <ng-template #elseBlock>
                    <td>Pas de tache en cours</td>
                </ng-template>
              </table>
            </div>
          </div>
        </div>
    </div>
        <div class="col-md-14 grid-margin stretch-card" style="margin-left:150px">
            <div class="card">
                <div class="card-body">
                <p class="card-title mb-0">Termine</p>
                <div class="table-responsive">
                    <table class="table table-striped table-borderless">
                    <thead>
                        <tr>
                        <th>Detail</th>
                        <th>Client</th>
                        <th>Employe</th>
                        <th>Date du rendez-vous</th>
                        <th>Comission</th>
                        <th>Statut</th>
                        </tr>  
                    </thead>
                    <tbody *ngIf="affiche; else elseBlock ">
                        <tr *ngFor="let listeRDVTermine of listeRDVTermine">
                        <td class="font-weight-bold">{{listeRDVTermine.id_detail.libelle_detail}}</td>
                        <td>{{listeRDVTermine.id_utilisateur.name}}</td>
                        <td>{{listeRDVTermine.id_employe.name}}</td>
                        <td>{{listeRDVTermine.dateHeureRDV | date: 'dd-MM-yyyy HH:mm'}}</td>
                        <td>{{(listeRDVTermine.id_detail.prix_detail * listeRDVTermine.id_detail.comission)/100}} ar</td>
                        <td class="font-weight-medium" *ngIf="listeRDVTermine.statut== 'Termine'"><div class="badge badge-success">Termine</div></td>
                        </tr>
                    </tbody>
                    <ng-template #elseBlock>
                        <td>Pas de tache en cours</td>
                    </ng-template>
                    </table>
                </div>
                </div>
          </div>
        </div>

      </div>
    </div>
