.appointment-table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr.hovered {
    background-color: #f5f5f5;
}

.star {
    color: gold;
}

.star.empty {
    color: #ccc;
    /* Couleur des étoiles vides */
}

.star.filled {
    color: gold;
    /* Couleur des étoiles remplies */
}