<head>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Slab:wght@100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
    rel="stylesheet"
  />
</head>
<app-navbar></app-navbar>
<body>
  <div class="container">
    <h1>Historiques</h1>
    <table class="appointment-table">
      <thead>
        <tr>
          <th>Date et heure</th>
          <th>Prestation</th>
          <th>Employé</th>
          <th>Rating</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let rdv of rdvs">
          <td>{{ rdv.dateHeureRDV }}</td>
          <td>{{ rdv.id_detail.libelle_detail }}</td>
          <td>{{ rdv.id_employe.name }}</td>
          <td>
            <div *ngFor="let i of [0, 1, 2, 3, 4]">
              <!-- Créez 5 étoiles -->
              <span
                class="star"
                [class.highlight]="i < rdv.id_detail.note_detail"
              >
                &#9733;
              </span>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <app-footer></app-footer>
</body>
